
<!DOCTYPE html>
<html>
<head>
  <title>Datos</title>
</head>
<body>
  <h1>Hola mundo</h1>
  <p>Nombre: Víctor</p>
  <p>Apellido: Montenegro</p>
  <p>Cédula: V.28269804</p>
  <p>Sección: "3" </p>
</body>
</html>
